@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

@font-face {
	font-family: 'Fira Code', monospace;
}

/*Change font and colors*/
:root {
	--font: "Fira Code";
	--bgcolor:  #1F1D29;
	--linkcolor: #FFFFFF;
}

/*-----------------------------------------------------------*/
input {
    height: inherit;
    width: 800px;
    background: #FFFFFF;
    color: #6F91EA;
    font: "Fira Code";
    font-weight: mono;
    line-height: 1.8em;
    box-shadow: 1px 1px 1px 1px;
    border: none;
		border-radius: 8px;
    text-align: center;
    outline: none;
    padding: 7px 14px;
    font-size: 18;
    grid-column: 1 / -1;
    margin: 0px 0px 30px 0px;;
}
body {
/*
	background-image: url('../background/bg.jpg');
	background-repeat : no-repeat;
*/
	background-color: #FFFFFF;
	background-size: cover;
}

.everything {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inlineList {
	display: flex;
	list-style: none;
	box-shadow: 1px 1px 1px 1px;
	border: none;
	border-radius: 8px;
}

.list {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.link {
	display: inline-block;
	margin: 1%;
	height: 1200px;
	width: 240px;
	text-align: left;
	padding-left: 3%;
	background-color: #FFFFFF;
	color: #6F91EA;
	border-radius: 8px;
	box-shadow: 2px 2px 2px 2px;
}

.box {
	width: 1000px;
}

ul {
	padding-inline-start: 0;
	list-style: none;
}

a {
	display: block;
	line-height: 2.4em;
	font-family: var(--font);
	color: #000000;
	font-size: 1rem;
	text-decoration: none;
	outline: none;
	transition: .2s;
}

a:hover {
	color: #6F91Ea;
}

.time {
    font-family: "Fira Code"; monospace;
    font-weight: mono;
    font-size: 5.5rem;
    margin: 50px 0px 50px 0px;
    color: #000000;
}
